/* 345px 이하 화면에서 비율 조절 */
@media screen and (max-width: 345px) {
  html {
    font-size: 15px;
  }
}

/* rem 변환 함수 - px 값을 rem으로 변환 */
@function rem($pixels, $context: 16) {
  @return ($pixels / $context) * 1rem;
}

/* 변수 정의 */
$padding-horizontal: rem(24); /* 360px 기준으로 24px과 동일 */
$icon-size: rem(30);

/* Flex Utilities */
.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

@for $i from 1 through 100 {
  .gap-#{$i} {
    gap: rem($i);
  }
}

/* inner */
.inner {
  padding: 0 $padding-horizontal;
}

/* icon */
.icon {
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  background: {
    repeat: no-repeat;
    size: cover;
  }

  &-sm {
    width: rem(12);
    height: rem(12);
  }

  &-thumbnail {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Ccircle cx='15' cy='15' r='14.5' fill='white' stroke='%23DDDDDD'/%3E%3Cpath d='M4.64624 14.3882C4.6072 14.4075 4.60329 14.446 4.64624 14.4691H4.64234L8.02365 16.6724L8.99197 12.1772L4.64624 14.3882Z' fill='%23E8190F'/%3E%3Cpath d='M24.6685 12.1736H23.8134C23.7705 12.1736 23.7002 12.189 23.6612 12.2121L19.374 14.3923C19.335 14.4115 19.335 14.45 19.374 14.4731L22.7007 16.634C22.7397 16.6571 22.8061 16.6764 22.849 16.6764H23.7041C23.7471 16.6764 23.751 16.6571 23.7158 16.634L20.3228 14.4308L24.6842 12.216C24.7232 12.1967 24.7193 12.1774 24.6764 12.1774L24.6685 12.1736Z' fill='%23F9D259'/%3E%3Cpath d='M22.8373 12.1736H16.879L15.9106 16.6725H21.8689C21.9119 16.6725 21.9197 16.6533 21.8807 16.6302L18.4915 14.4269L22.8451 12.2121C22.8841 12.1928 22.8802 12.1736 22.8373 12.1736Z' fill='%23E8190F'/%3E%3Cpath d='M26.4998 12.1736H25.6447C25.6018 12.1736 25.5315 12.189 25.4925 12.2121L21.2053 14.3923C21.1663 14.4115 21.1663 14.45 21.2053 14.4731L24.532 16.634C24.5671 16.6571 24.6374 16.6764 24.6803 16.6764H25.5354C25.5784 16.6764 25.5862 16.6571 25.5471 16.634L22.1541 14.4308L26.5116 12.216C26.5506 12.1967 26.5467 12.1774 26.5037 12.1774L26.4998 12.1736Z' fill='%23F18000'/%3E%3Cpath d='M22.5718 9.23071H8.54679C7.76588 9.23071 7.21534 9.71605 7.0865 10.3169C7.01621 10.6482 7.14116 10.9409 7.39886 11.1412L12.4396 14.423L22.5835 9.26538C22.6226 9.24612 22.6187 9.23071 22.5757 9.23071H22.5718Z' fill='%23E8190F'/%3E%3Cpath d='M20.3503 19.573L12.4475 14.4231L5.98552 17.7049C5.64192 17.9052 5.38813 18.1979 5.31785 18.5292C5.18509 19.1301 5.52479 19.6154 6.3096 19.6154H20.3346C20.3776 19.6154 20.3854 19.5961 20.3503 19.573Z' fill='%23E8190F'/%3E%3C/svg%3E");
  }

  &-copy {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.57143 2.14286H1.28571C0.944571 2.14286 0.617571 2.27828 0.376714 2.51957C0.135429 2.76043 0 3.08743 0 3.42857V10.7143C0 11.0554 0.135429 11.3824 0.376714 11.6233C0.617571 11.8646 0.944571 12 1.28571 12H8.14286C8.484 12 8.811 11.8646 9.05186 11.6233C9.29314 11.3824 9.42857 11.0554 9.42857 10.7143V9.85714H10.7143C11.4244 9.85714 12 9.28157 12 8.57143V1.28571C12 0.944571 11.8646 0.61757 11.6233 0.376713C11.3824 0.135428 11.0554 0 10.7143 0C9.072 0 5.49943 0 3.85714 0C3.516 0 3.189 0.135428 2.94814 0.376713C2.70686 0.61757 2.57143 0.944571 2.57143 1.28571V2.14286ZM8.57143 3.42857V10.7143C8.57143 10.8279 8.52643 10.9371 8.44586 11.0173C8.36572 11.0979 8.25643 11.1429 8.14286 11.1429H1.28571C1.17214 11.1429 1.06286 11.0979 0.982714 11.0173C0.902143 10.9371 0.857143 10.8279 0.857143 10.7143V3.42857C0.857143 3.315 0.902143 3.20571 0.982714 3.12557C1.06286 3.045 1.17214 3 1.28571 3H8.14286C8.25643 3 8.36572 3.045 8.44586 3.12557C8.52643 3.20571 8.57143 3.315 8.57143 3.42857ZM9.42857 9H10.7143C10.9509 9 11.1429 8.808 11.1429 8.57143V1.28571C11.1429 1.17214 11.0979 1.06286 11.0173 0.982714C10.9371 0.902143 10.8279 0.857143 10.7143 0.857143H3.85714C3.74357 0.857143 3.63429 0.902143 3.55414 0.982714C3.47357 1.06286 3.42857 1.17214 3.42857 1.28571V2.14286H8.14286C8.484 2.14286 8.811 2.27828 9.05186 2.51957C9.29314 2.76043 9.42857 3.08743 9.42857 3.42857V9Z' fill='%23222222'/%3E%3C/svg%3E");
  }

  &-more {
    width: 3px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='18' viewBox='0 0 4 18' fill='none'%3E%3Cpath d='M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2Z' fill='%23333333'/%3E%3Cpath d='M3.5 9C3.5 9.82843 2.82843 10.5 2 10.5C1.17157 10.5 0.5 9.82843 0.5 9C0.5 8.17157 1.17157 7.5 2 7.5C2.82843 7.5 3.5 8.17157 3.5 9Z' fill='%23333333'/%3E%3Cpath d='M3.5 16C3.5 16.8284 2.82843 17.5 2 17.5C1.17157 17.5 0.5 16.8284 0.5 16C0.5 15.1716 1.17157 14.5 2 14.5C2.82843 14.5 3.5 15.1716 3.5 16Z' fill='%23333333'/%3E%3C/svg%3E");
  }

  &-plus {
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M3.75 0H6.25V10H3.75V0Z' fill='%238C8C8C'/%3E%3Cpath d='M10 3.75V6.25H0L1.09278e-07 3.75L10 3.75Z' fill='%238C8C8C'/%3E%3C/svg%3E");
  }
  &-prev {
    width: 8px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M5.15 7.16659L5.66667 6.64992L3.01667 3.99992L5.66667 1.34992L5.15 0.833252L2 3.99992L5.15 7.16659Z' fill='%23AAAAAA' stroke='%23AAAAAA' stroke-width='0.6'/%3E%3C/svg%3E");
  }
  &-next {
    width: 8px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M2.85 0.833414L2.33333 1.35008L4.98333 4.00008L2.33333 6.65008L2.85 7.16675L6 4.00008L2.85 0.833414Z' fill='%23222222' stroke='%23222222' stroke-width='0.6'/%3E%3C/svg%3E");
  }
  &-pause {
    width: rem(8);
    height: rem(8);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M3.33333 1.66658L3.33333 6.33325L2 6.33325L2 1.66658L3.33333 1.66658ZM6 1.66658L6 6.33325L4.66667 6.33325L4.66667 1.66658L6 1.66658Z' fill='%23222222'/%3E%3C/svg%3E");
  }
  &-play {
    width: rem(8);
    height: rem(8);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M2 1.5L6.5 4L2 6.5V1.5Z' fill='%23222222'/%3E%3C/svg%3E");
  }
}

.banking-app {
  background: #f6f6f6;
  padding-bottom: rem(100);
}
.app-header {
  padding-top: rem(24);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-left {
    display: flex;
    align-items: center;
    gap: rem(8);

    .user-name b {
      color: #222;
      text-align: center;
      font-family: Pretendard;
      font-size: rem(18);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration-line: underline;
    }
    em {
      color: #222;
      font-family: Pretendard;
      font-size: rem(18);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .user-tag {
      display: flex;
      padding: rem(4) rem(10);
      justify-content: center;
      align-items: center;
      gap: rem(10);
      border-radius: rem(6);
      background: #caecff;
      color: #00a1ff;
      text-align: center;
      font-family: Pretendard;
      font-size: rem(12);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: rem(5);
    .segment-control {
      display: inline-flex;
      padding: rem(4) rem(8) rem(4) rem(4);
      align-items: center;
      gap: rem(8);
      border-radius: rem(20);
      background: #888;
      position: relative;
      height: rem(36);
      width: rem(78);

      &.toggled {
        background: #009973;
      }

      color: #fff;
      text-align: center;
      font-family: Pretendard;
      font-size: rem(16);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .segment-items {
      display: flex;
      width: 100%;
      position: relative;
    }

    .segment-item {
      position: absolute;
      width: 50%;
      height: rem(30);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      transition: transform 0.3s ease;

      &.item-home {
        left: 0;
        transform: translateX(0);
      }

      &.item-easy {
        left: 46%;
        transform: translateX(0);
      }
    }

    .segment-control.toggled {
      .segment-item.item-home {
        transform: translateX(100%);
      }

      .segment-item.item-easy {
        transform: translateX(-88%);
      }

      .active-circle.home {
        transform: translateX(rem(37));
      }
    }

    .active-circle {
      display: flex;
      width: rem(30);
      height: rem(30);
      padding: rem(5) rem(8);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: rem(10);
      background: #fff;
      border-radius: 50%;
      transition: transform 0.3s ease;
      z-index: 1;
      position: absolute;

      &.home {
        color: #333;
        left: rem(5);
        transform: translateX(0);
      }

      &.easy {
        color: #333;
        display: none;
        left: rem(10);
        transform: translateX(0);
      }
    }

    .icon-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      cursor: pointer;
      &:active {
        background: #dfdfdf;
        border-radius: 50%;
      }
    }
  }
}

/* banking-app */
.main-slider {
  margin-top: rem(10);
  padding: {
    top: rem(16);
    right: rem(16);
    bottom: rem(20);
    left: rem(16);
  }
  border-radius: rem(12);
  background: #fff;
  box-shadow: 0px 2px 4px 1px #eaeaea;

  div.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(25);

    div.header-left {
      display: flex;
      gap: rem(8);
      align-items: center;
      max-width: 70%;
      min-width: 65%;

      .icon-thumbnail {
        min-width: rem(30);
      }

      div.account-info {
        .account-label {
          display: flex;
          align-items: center;
          gap: rem(4);

          span {
            display: flex;
            flex: none;
            padding: rem(2) rem(8);
            justify-content: center;
            align-items: center;
            border-radius: rem(20);
            background: #ffcfd2;
            color: #c96767;
            font-size: rem(12);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          em {
            color: #222;
            font-size: rem(14);
            font-style: normal;
            font-weight: 700;
            line-height: rem(14); /* 100% */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: rem(60);
          }
        }

        .account-number {
          flex: none;
          margin-top: rem(4);
          color: #222;
          font-size: rem(14);
          font-style: normal;
          font-weight: 400;
          line-height: rem(14); /* 100% */
          letter-spacing: rem(-0.7);
        }
      }
    }

    div.header-right {
      display: flex;
      align-items: center;
      gap: rem(10);

      div.quick-transfer {
        display: flex;
        align-items: center;
        gap: rem(6);

        span {
          flex: none;
          color: #333;
          text-align: center;
          font-family: Pretendard;
          font-size: rem(13);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .custom-toggle {
          position: relative;
          display: inline-block;
          width: rem(21);
          min-width: rem(21);
          height: rem(12);
          margin-right: rem(20);

          input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .toggle-track {
              background-color: #ff9e81;

              &:before {
                transform: translateX(rem(10));
                background-color: #ff7512;
              }
            }
          }

          .toggle-track {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #cfcfcf;
            transition: 0.3s;
            border-radius: rem(2);
            height: rem(4);
            margin-top: rem(4);

            &:before {
              position: absolute;
              content: "";
              height: rem(12);
              width: rem(12);
              left: 0;
              top: rem(-4);
              background-color: #888888;
              transition: 0.3s;
              border-radius: 50%;
            }
          }
        }
      }

      .btn-more {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(32);
        height: rem(32);
        border-radius: 50%;
        background-color: #fff;
        color: #333;
        font-size: rem(12);
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:active {
          background-color: #f5f5f5;
        }
      }
    }
  }

  .balance-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .balance-display {
    display: flex;
    align-items: center;
    margin-bottom: rem(6);
    justify-content: center;
    gap: rem(8);

    .balance-amount {
      display: flex;
      align-items: center;
      font-size: rem(29);
      font-weight: 700;
      color: #222;
      .won {
        color: #222;
        font-weight: 400;
      }
    }

    .icon-hide {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(6) rem(8);
      border-radius: rem(24);
      font-size: rem(14);
      color: #222;
      font-weight: 400;
      line-height: rem(14);
      letter-spacing: -0.5px;
      border-radius: 24px;
      border: 1px solid #d9d9d9;
      background: #fff;

      &:active {
        background: #dfdfdf;
      }
    }
  }

  .quick-transfer-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(8);
    margin-bottom: rem(16);
    gap: rem(8);

    .no-quick-transfer {
      color: #8c8c8c;
      font-size: rem(12);
      padding: rem(6) rem(12);
      border-radius: 24px;
      border: 1px solid #d9d9d9;
      background: #fff;
    }

    .btn-add {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(26);
      height: rem(26);
      background-color: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 24px;
      font-size: rem(16);
      color: #666;
      cursor: pointer;

      &:active {
        background: #dfdfdf;
      }
    }
  }

  .action-buttons {
    display: flex;
    gap: rem(8);
    width: 100%;

    button {
      flex: 1;
      padding: rem(14);
      border: none;
      border-radius: rem(8);
      font-size: rem(16);
      font-weight: 600;
      cursor: pointer;
      color: #222;
      line-height: rem(14);

      &.btn-deposit {
        background-color: #f1f3f5;
        color: #333;

        &:active {
          background-color: #ddd;
          color: #222;
        }
      }

      &.btn-transfer {
        background-color: #ffd449;
        color: #222;

        &:active {
          background: #dbb737;
          color: #222;
        }
      }
    }
  }
}

/* 슬라이드 네비게이션 스타일 */
.slide-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(6);
  margin: rem(16) 0;

  .nav-dot {
    width: rem(6);
    height: rem(6);
    background-color: #ddd;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;

    &.active {
      background-color: #888888;
      width: rem(23);
      height: rem(6);
      border-radius: 10px;
    }

    /* 슬라이드가 2개일 경우 (dot 2개) */
    &:nth-child(1),
    &:nth-child(2) {
      display: block;
    }

    /* 슬라이드가 2개 초과일 경우 숨김 처리 (dot 숨김) */
    &:nth-child(n + 3) {
      display: none;
    }
  }
}

/* 슬라이드 컨테이너 스타일 */
.main-slider {
  position: relative;
  overflow: hidden;

  .slide {
    display: none;

    &.active {
      display: block;
    }
  }
}

/* 배너 섹션 스타일 */
.banner-section {
  position: relative;
  margin-left: -4px;
  margin-right: -4px;
}

/* 배너 슬라이더 스타일 */
.banner-slider {
  position: relative;
  border-radius: rem(12);
  overflow: hidden;
  background-color: #f9f9f9;

  &::before {
    content: "";
    display: block;
    padding-bottom: 25%; /* 4:1 비율로 설정 */
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* 배너 페이지네이션 스타일 */
.banner-pagination {
  position: absolute;
  bottom: rem(11);
  left: rem(20);
  z-index: 10;

  // 폴드 folded 모드일때
  @media screen and (min-width: 600px) {
    bottom: rem(20);
  }

  .pagination-buttons {
    display: flex;
    align-items: center;
    gap: rem(6);
    padding: rem(6) rem(10);

    .prev-button,
    .next-button,
    .pause-button {
      flex: none;
      width: rem(16);
      height: rem(16);
      background-position: center;
      background-repeat: no-repeat;
      background-size: rem(12) rem(12);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.8;
      }
    }

    /* Button states */
    .btn {
      border-radius: rem(24);
      border: 1px solid #222;
      background: #fff;

      &:disabled,
      &.disabled {
        border: 1px solid #aaa;
        background: #fff;

        .icon-prev {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M5.15 7.16659L5.66667 6.64992L3.01667 3.99992L5.66667 1.34992L5.15 0.833252L2 3.99992L5.15 7.16659Z' fill='%23AAAAAA' stroke='%23AAAAAA' stroke-width='0.6'/%3E%3C/svg%3E");
        }

        .icon-next {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M2.85 0.833414L2.33333 1.35008L4.98333 4.00008L2.33333 6.65008L2.85 7.16675L6 4.00008L2.85 0.833414Z' fill='%23AAAAAA' stroke='%23AAAAAA' stroke-width='0.6'/%3E%3C/svg%3E");
        }

        .icon-pause {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M3.33333 1.66658L3.33333 6.33325L2 6.33325L2 1.66658L3.33333 1.66658ZM6 1.66658L6 6.33325L4.66667 6.33325L4.66667 1.66658L6 1.66658Z' fill='%23AAAAAA'/%3E%3C/svg%3E");
        }

        .icon-play {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M2 1.5L6.5 4L2 6.5V1.5Z' fill='%23222222'/%3E%3C/svg%3E");
        }
      }

      &:hover:not(:disabled):not(.disabled) {
        border: 1px solid #222;
        background: #dfdfdf;
      }
    }

    .prev-button {
      @extend .btn;
      border-color: #aaa;

      &.disabled {
        border-color: #aaa;
      }

      .icon-prev {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M5.15 7.16659L5.66667 6.64992L3.01667 3.99992L5.66667 1.34992L5.15 0.833252L2 3.99992L5.15 7.16659Z' fill='%23222222' stroke='%23222222' stroke-width='0.6'/%3E%3C/svg%3E");
      }
    }

    .next-button {
      @extend .btn;

      .icon-next {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M2.85 0.833414L2.33333 1.35008L4.98333 4.00008L2.33333 6.65008L2.85 7.16675L6 4.00008L2.85 0.833414Z' fill='%23222222' stroke='%23222222' stroke-width='0.6'/%3E%3C/svg%3E");
      }
    }

    .pause-button {
      @extend .btn;

      .icon-pause {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M3.33333 1.66658L3.33333 6.33325L2 6.33325L2 1.66658L3.33333 1.66658ZM6 1.66658L6 6.33325L4.66667 6.33325L4.66667 1.66658L6 1.66658Z' fill='%23222222'/%3E%3C/svg%3E");
      }

      .icon-play {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M2 1.5L6.5 4L2 6.5V1.5Z' fill='%23222222'/%3E%3C/svg%3E");
      }
    }
  }
  .page-indicator {
    display: flex;
    align-items: center;
    color: #aaa;
    font-size: rem(12);
    font-weight: 500;

    .swiper-pagination-current {
      color: #222;
      font-size: rem(12);
      font-weight: 500;
    }

    .total-pages {
      opacity: 0.8;
    }
  }
}

.menu-section {
  margin-top: rem(5);
  padding: rem(10) rem(10);
  border-radius: rem(12);
  background: #fff;
  box-shadow: 0px 2px 4px 1px #eaeaea;

  .menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .menu-item {
      padding: rem(12) rem(0);
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      border-radius: rem(8);
      transition: background-color 0.2s ease;

      .menu-icon {
        width: rem(36);
        height: rem(36);
        border-radius: rem(10);
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: rem(24) rem(24);

        &.with-pin {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: rem(-3);
            right: rem(-3);
            width: rem(16);
            height: rem(16);
            background-image: url("../img/pin.svg");
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        &:active {
          background: #e0e0e0;
        }
      }

      .menu-label {
        color: #222;
        text-align: center;
        font-size: rem(15);
        font-weight: 600;
        margin-top: rem(14);
      }
    }
  }
}

/* 운세 및 좋은 생각 섹션 스타일 */
.fortune-thoughts-section {
  display: flex;
  margin-top: rem(10);
  gap: rem(8);

  .fortune-button,
  .thoughts-button {
    position: relative;
    flex: 1;
    height: rem(52);
    border-radius: rem(12);
    background: #fff;
    box-shadow: 0px 2px 4px 1px #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(6);

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: rem(8);
      left: rem(8);
      width: rem(8);
      height: rem(8);
      background-image: url("../img/link-more.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:active {
      background: #dfdfdf;
      box-shadow: 0px 2px 4px 1px #eaeaea;
    }
  }

  .fortune-text,
  .thoughts-text {
    color: #222;
    font-size: rem(16);
    font-weight: 600;
  }
}

.notice-section {
  margin-top: rem(10);
  overflow: hidden;
  max-width: 100%;
  padding-bottom: rem(15);
  display: flex;
  justify-content: center;
}

.notice-item {
  display: flex;
  align-items: center;
  gap: rem(5);
}

.notice-item:active {
  background-color: #f5f5f5;
}

.notice-icon {
  flex-shrink: 0;
  width: rem(24);
  height: rem(24);
  display: flex;
  align-items: center;
  justify-content: center;
}

.notice-content {
  flex: 1;
  overflow: hidden; /* Required for text-overflow to work */
}

.notice-title {
  color: #222;
  font-size: rem(14);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice-arrow {
  flex-shrink: 0;
}

/* 챗봇 */
.fixed-chatbot {
  position: fixed;
  bottom: rem(120);
  right: rem(16);
  z-index: 100;

  .btn-chatbot-close {
    position: absolute;
    right: 0;
    top: rem(-15);
    width: rem(16);
    height: rem(16);
  }

  .btn-chatbot {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: rem(50);
      height: rem(50);
      border-radius: 50%;
    }

    p {
      display: flex;
      padding: rem(5) rem(10);
      justify-content: center;
      align-items: center;
      border-radius: rem(14);
      background: #444;
      color: #fff;
      text-align: center;
      font-size: rem(10);
      font-weight: 600;
      box-sizing: border-box;
    }
  }
}

.bottom-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #222;
  background: #fff;
  box-shadow: 0px rem(-4) rem(4) 0px rgba(189, 185, 185, 0.25);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: rem(100);
  padding: rem(10) 0px rem(30) 0px;
  z-index: 100;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;

  img {
    width: rem(36);
    height: rem(36);
    transition: opacity 0.2s ease;
  }

  &.active {
    .icon-default {
      opacity: 0;
    }

    .icon-pressed {
      opacity: 1;
    }

    .nav-label {
      color: #444;
      text-align: center;
      font-family: Pretendard;
      font-size: rem(12);
      font-style: normal;
      font-weight: 600;
      line-height: rem(10); /* 83.333% */
    }
  }

  &:hover .nav-label {
    color: #444;
  }
}

.icon-default {
  opacity: 1;
}

.icon-pressed {
  opacity: 0;
  position: absolute;
  top: rem(4);
}

.nav-label {
  color: #999;
  text-align: center;
  font-size: rem(12);
  font-weight: 600;
  transition: color 0.2s ease;
  margin-top: rem(5);
}
